body {
    font-family: Arial, sans-serif;
    /* background-color: #068e5c; */
    background-image: url(mod.png);
    background-size: cover;


}

#counter-container {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    padding-top: 100px;
    padding-left: 1300px;
}

#counter-container {
    width: 1050px;
    height: 400px;
    border: 10px solid rgb(10, 10, 10);

    padding: 50px;
    margin: 100px;
    background-color: rgb(12, 12, 12);
}


h1 {
    margin-top: 0;
    color: #fff;
}

#binary-display,
#gray-display {
    margin-top: 20px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

table {
    width: 5px;
    table-layout: fixed;
}

#binary-counter,
#gray-counter {
    font-size: 24px;
    font-weight: bold;
    background-color: #322514;
    padding: 10px;
    display: inline-block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #362d1e;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #291f09;
}
